body {
    background: #006b9c !important;
}
.grey-text {
    color: #006b9c;
}
.btn-primary {
    color: #fff;
    background-color: #3979e2 !important;
    border-color: #007bff !important;
}
.shadow {
    box-shadow: 0 0.2rem 0.85rem rgba(0, 0, 0, 0.13) !important;
    height: 125px;
}
.card {
    transition: cubic-bezier(1, 0.5, 0, 0.5) 0.3s;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
}
.card:hover:not(.big) {
    text-decoration: none;
    transform: translateY(-15px);
    transition: ease 0.2s;
}
a.card-body:hover {
    text-decoration: none;
}
@media (max-width: 520px) {
    .card-mobile {
        max-width: 50%;
   }
}
